<!DOCTYPE html>
<html>
<head>
  <title>Lunch Hub</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <h1><%= link_to "Lunch Hub", "/" %></h1>
  <h2>The website you can literally eat</h2>

  <nav>
    <ul>
      <li><%= link_to "Home", "/" %></li>
      <li>|</li>
      <li><%= link_to "About", "/about" %></li>
    </ul>
  </nav>
</header>

<%= yield %>

</body>
</html>
